# debugging

In [3]:
#1.Find the error in the following Python code:

for i in range(5):
    print(i)

# indentation error

0
1
2
3
4

In [4]:
#2.What will be the output of this code?

a = 10
b = "5"
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
#3.What is the issue in this Python snippet?

def add_numbers(a, b):
    return a + b

# syntax error(:)

In [13]:
#4.Identify the bug in the following Python code:

numbers = [1, 2, 3, 4]
print(numbers[4])

IndexError: list index out of range

In [14]:
numbers = [1, 2, 3, 4]
print(numbers[3])

# the value starts for 0,1,2,3.so 3 is the answer

4

In [15]:
#5.Find the error in the following Python code:
print ("Hello, World!")

Hello, World!

In [16]:
#6.Find the error in the following Python code:
x = 5 / 0

ZeroDivisionError: division by zero

In [18]:
x=5/2
print(x)

2.5

In [24]:
#7.Find the error in the following Python code:name = "Alice"
age=25
name=input("enter the user name:")
print("alice: " + name + "age:" + 25)

enter the user name: alice

TypeError: can only concatenate str (not "int") to str

In [26]:
age=25
name=input("enter the user name:")
print("alice: " + name ,"age:" ,25)

# TypeError: can only concatenate str (not "int") to str

enter the user name: alice

alice: alice age: 25

In [35]:
#8.Find the error

for i in range(1, 10, -1):
    print(i)

# -1 wont come bcoz we use 1 to 10 so we should put +1

In [31]:
#9. Find the error in the following Python code:
x = 10
if x ==5:
    print("x is 5")
  # in hear wee need to add==5

In [36]:
#10. Identify the error in the following function definition:

def greet(name)
    print("Hello, " + name)

SyntaxError: expected ':' (4014834639.py, line 3)

In [38]:

def greet(name):

    print("Hello, " + name)

greet(name)

Hello, alice

# scenario based problems

In [1]:
"""
1. Voting Eligibility

Ask the user for their age

If age ≥ 18 → print “Eligible to vote”

Else → print “Not eligible to vote”

"""

'\n1. Voting Eligibility\nLogic:\n\nAsk the user for their age\n\nIf age ≥ 18 → print “Eligible to vote”\n\nElse → print “Not eligible to vote”\n\n'

In [ ]:
"""
2. Find the Largest Number in a List


Assume the first number is the largest

Go through the list using a loop

If you find a bigger number → update the largest

After the loop, print the largest number
"""

In [ ]:
3.


"""
Salary Bonus (10% if salary > ₹50,000)
Logic:

Ask the user for their salary

If salary > 50,000 → calculate 10% of it as bonus

Else → bonus is 0

Print the bonus

"""

In [ ]:
4. Even or Odd Check

Ask the user to enter a number

If number % 2 == 0 → print “Even”

Else → print “Odd”

In [ ]:
Reverse a Word or Sentence

Ask the user to enter a word or sentence

Reverse the string using slicing or logic

Print the reversed string

In [ ]:
6. Pass or Fail Based on Marks

Ask the user to enter their marks

If marks ≥ 40 → print “Pass”

Else → print “Fail”

In [ ]:
7. Retail Discount (20% if total > ₹100)

Ask the user for total order amount

If amount > 100 → apply 20% discount

Else → no discount

Print the final amount after discount

In [ ]:
8. Bank Withdrawal with Balance Check

Ask the user to enter their account balance and withdrawal amount

If balance is greater than or equal to withdrawal amount:

Allow the withdrawal

Subtract the withdrawal from balance

Show the updated balance

Else:

Print “Insufficient balance”

In [ ]:
9. Leap Year Check

Ask the user to enter a year

Apply standard leap year rules:

If the year is divisible by 4 and not divisible by 100, OR divisible by 400 → it’s a leap year

Else → not a leap year

In [ ]:
10. Filter Even Numbers from List

Take a list of numbers

Go through each number one by one using a loop

If the number is divisible by 2 (num % 2 == 0)

Add it to a new list of even numbers

Finally, print the list of even numbers

# coding

In [ ]:
1.Write a Python program that prints numbers from 1 to 5.
Expected Output:
1 2 3 4 5

In [2]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
2.Write a Python program to print the first 5 even numbers. Expected Output:
2 4 6 8 10

In [3]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:
3.Write a Python program to print the sum of numbers from 1 to 10. 
Expected Output:55

In [4]:
total = 0
for i in range(1, 11):
    total += i

print(total)

55

In [ ]:
4.Write a Python function to find the factorial of 5. Expected Output:
120

In [5]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i  
    return result

print(factorial(5))

120